/* -------------------------------------------------------------------------------------------------------------
                                            ~~~  VARIABLES   ~~~
A collection of reusable variables for the project, including font families, colors, and other design constants.
--------------------------------------------------------------------------------------------------------------- */

// Colors
$color-bodyDecember: rgb(247, 246, 198);
$color-body: rgb(205, 233, 226);
$color-darkgray: rgb(64, 68, 70);
$color-gray: rgb(90, 92, 92);
$color-green: rgb(236, 255, 249);
$color-greener: rgb(205, 233, 226);
$color-greenest: rgb(179, 225, 209);
$color-mildLemon: rgb(255, 238, 191);
$color-lightLemon: rgb(255, 247, 223);
$color-lightblue: rgb(168, 222, 230);
$color-lightblueish: rgba(176, 223, 231, 0.747);
$color-lightblue-border: rgba(216, 232, 235, 0.89);
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-border-gray: #ddd;
$color-azure: azure;

// Font weights
$weight-thin: 100;
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;

// Font families
$font-handlee: "Handlee", cursive, sans-serif;
$font-roboto: "Roboto", sans-serif, Arial;
$font-caveat-brush: "Caveat Brush", cursive, "Comic Sans MS";
$font-rubik-dirt: "Rubik Dirt", system-ui, serif;
$font-rubik-bubbles: 'Rubik Bubbles', sans-serif;
$font-roboto-condensed: "Roboto Condensed", sans-serif;
$font-verdana: "Verdana", sans-serif;
$font-georgia: "Georgia", serif;
$font-courier-new: "Courier New", monospace;
