/* -------------------------------------------------------------------------------------------------------------
                                            ~~~  VARIABLES   ~~~
A collection of reusable variables for the project, including font families, colors, and other design constants.
--------------------------------------------------------------------------------------------------------------- */

// Font families
$font-rubik-bubbles: 'Rubik Bubbles', sans-serif;
$font-handlee: "Handlee", cursive, sans-serif;
$font-roboto: "Roboto", sans-serif, Arial;
$font-caveat-brush: "Caveat Brush", cursive, "Comic Sans MS";
$font-rubik-dirt: "Rubik Dirt", system-ui, serif;


//Colors
$color-bodyDecember: rgb(247, 246, 198);
$color-body: rgb(205, 233, 226) ;

$color-darkgray: rgb(58, 57, 57);